body {
  font-family: sans-serif;
  margin: 20px;
  background-color: #f9f9f9;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

a {
  color: #0077cc;
  text-decoration: none;
}
